<footer class="footer">
  <div class="footer__container">

    <a href="#hero" class="footer__logo">
      <img
        src="./assets/images/kauai-logo.png?width=56&as=webp"
        srcset="
          ./assets/images/kauai-logo.png?width=56&as=webp 1x,
          ./assets/images/kauai-logo.png?width=112&as=webp 2x
          ./assets/images/kauai-logo.png?width=168&as=webp 3x
        "
        alt="Kaua'i Logo"
        class="header__logo-img"
        width="56"
        height="56"
        decoding="async"
      />
      <span>Kaua'i</span>
    </a>
    <p class="footer__copy">
      Made with <i class="fa-solid fa-heart"></i> in memory of Sam Neill.
    </p>
    <p class="footer__disclaimer">
      Content created for informational and educational purposes. All images and trademarks belong to their respective owners.
    </p>
  </div>
</footer>
